<!DOCTYPE html>
<html ng-app="jolokiaViewApp">
<head>
    <title>Jolokia View</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.1.0/css/bootstrap.min.css">

    <script src="webjars/angularjs/1.3.0-beta.8/angular.js"></script>
    <script src="webjars/jquery/2.1.1/jquery.js"></script>
    <script src="webjars/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="lib/json2.js"></script>
    <script src="lib/jolokia.js"></script>
    <script src="lib/jolokia-simple.js"></script>
    <script src="jquery.flot.js"></script>
    <!--<script src="d3.v3.min.js" charset="utf-8"></script>-->
    <!--<script src="cubism.v1.min.js"></script>-->
    <!--<script src="jolokia-cubism-min.js"></script>-->
    <link rel="stylesheet" href="main.css">
    <script src="app.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="TreeCtrl">
    <div class="row">
        <div class="col-md-4">
            <h2>MBeans</h2>
            <button ng-click="showPlots()">plot</button>
            <select ng-model="domainFilter" ng-options="domainName for domainName in domainNames">
                <option value="">ALL</option>
            </select>
            <ul>
                <li ng-repeat="p in domains" ng-if="domainFilter == p.name || domainFilter == null">
                    {{p.name}}
                    <ul>
                        <li ng-repeat="mbean in p.mbeans" ng-click="selectMBean(mbean)">
                            <a>{{mbean.name}}</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <h3>{{selectedMbean.name}}</h3>

            <div class="col-md-6">
                <h4>Attributes</h4>
                <ul>
                    <li ng-repeat="a in selectedMbean.attrs" ng-click="loadAttributes(selectedMbean)">
                        <h5>{{a.name}}</h5>
                        <pre ng-Dblclick="modal(a.value)">{{a.value | json}}</pre>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Operations</h4>
                <ul>
                    <li ng-repeat="o in operations">
                        <h5>{{o.name}}</h5>

                        <form>
                            <div class="form-group" ng-repeat="arg in o.args">
                                <label for="{{arg.name}}">{{arg.desc}} :{{arg.type}}</label>
                                <input type="text" id="{{arg.name}}" ng-model="arg.value"/>
                            </div>
                            <button type="submit" class="btn btn-default btn-sm"
                                    ng-click="executeOperation(selectedMbean, o)">Execute
                            </button>
                        </form>
                    </li>
                </ul>
                <!--<pre ng-if="operationResult" ng-Dblclick="modal(operationResult)">{{operationResult | json}}</pre>-->
            </div>
        </div>


        <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <pre> {{modalcontent | json}}</pre>
                    </div>
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="modal fade" id="plotModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="charts" style="width: 750px; height: 400px;"></div>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>